@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
  --Red: hsl(0, 100%, 66%);
  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
}

*,*>*{
  font-family: 'Space Grotesk', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
}

.esconder{
  display: none;
}

.erro{
  border: 2px solid var(--Red)
}

.mensagem_erro{
  gap:0;
}

.mensagem_erro::after{
  content:"Can't be blank";
  color: var(--Red);
  margin-top: .2rem;
}

.container{
  display:flex;
  align-items: center;
}

.lado_esquerdo{
  min-height:100vh;
  width: 40%;
  background-image: url("../images/bg-main-desktop.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.cartoes{
  position: absolute;
  top:50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  left:100%;
  transform: translate(-50%, -50%);
}

.cartao_frente{
  position: relative;
  transform: translateX(-100px);
}

.cartao_logo{
  position: absolute;
  top:1rem;
  left: 1rem;
}

#numero{
  position: absolute;
  color: var(--White);
  bottom: 5rem;
  left: 1rem;
  letter-spacing: 2px;
}

.cartao_info{
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  right: 3rem;
  color: var(--White);
  display: flex;
  justify-content:space-between;
}

.cartao_fundo{
  position: relative;
}

#cvc{
  position: absolute;
  right: 3.5rem;
  top: 7rem;
  color: var(--Light-grayish-violet)
}


