@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
  --Red: hsl(0, 100%, 66%);
  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
}

*,*>*{
  font-family: 'Space Grotesk', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
}

.esconder{
  display: none;
}

.erro{
  border: 2px solid var(--Red)
}

.mensagem_erro{
  gap:0;
}

.mensagem_erro::after{
  content:"Can't be blank";
  color: var(--Red);
  margin-top: .2rem;
}

.container{
  display:flex;
  align-items: center;
}

.lado_esquerdo{
  min-height:100vh;
  width: 40%;
  background-image: url("../images/bg-main-desktop.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.cartoes{
  position: absolute;
  top:50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  left:100%;
  transform: translate(-50%, -50%);
}

.cartao_frente{
  position: relative;
  transform: translateX(-100px);
}

.cartao_logo{
  position: absolute;
  top:1rem;
  left: 1rem;
}

#numero{
  position: absolute;
  color: var(--White);
  bottom: 5rem;
  left: 1rem;
  letter-spacing: 2px;
}

.cartao_info{
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  right: 3rem;
  color: var(--White);
  display: flex;
  justify-content:space-between;
}

.cartao_fundo{
  position: relative;
}

#cvc{
  position: absolute;
  right: 3.5rem;
  top: 7rem;
  color: var(--Light-grayish-violet)
}

.lado_direito{
  display: flex;
  align-items: center;
  justify-content:center;
  width: 100%;
}

.lado_direito form{
  display: grid;
  gap: 1rem;
  width:350px;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(4,1fr);

}

label{
  color: --var(--Very-dark-violet);
  margin-bottom:.3rem;
  text-transform: uppercase;
}

input{
  padding:.5rem;
  font-size: 18px;
  border: 1px solid --var(--Dark-grayish-violet);
  border-radius: 6px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder{
  font-family: inherit;
  color: var(--Dark-grayish-violet);
}

input:focus{
  outline-color: hsl(249,99%,64%);
}

.grid_1{
  display: flex;
  flex-direction: column;
  grid-column: 2 span;
}

.grid_2{
  display: flex;
  flex-direction: column;
  grid-column: 2 span;
}

.grid_3{
  display: flex;
  flex-direction: column;

}

.grid_4{
display: flex;
flex-direction: column;
grid-column: 1 span;
}

.informacao_cartao{
  display: flex;
  grid-column: 2 span;
  gap: 1rem;
}

#data_cartao{
  display: flex;
  flex-direction: column;
  grid-column: 1 span;
}

#data_cartao .inp_dois{
  display: flex;
}

.inp_dois div{
  flex-direction: column;
}

#data_cartao div input{
  width:70px;
  margin-inline: .5rem;
  margin-left: 0;
}

#cvc_cartao{
  width: 100%;
}

form button{
  grid-column: 2 span;
  font-size: 18px;
  height: 50px;
  color: var(--White);
  background-color: var(--Very-dark-violet);
  cursor: pointer;
}

.agradecimento{
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap: 2rem;
}

.agradecimento h1{
  text-transform: uppercase;
  letter-spacing: 3px;
}

.agradecimento p {
  font-size:18px;
  color: var(--Dark-grayish-violet)
}

.agradecimento buttom{
  color: var(--White);
  width: 100%;
  border-radius: 6px;
  padding:1rem;
  font-size: 18px;
  background-color: var(--Very-dark-violet);
  cursor: pointer;
}
